.experienceBar{
    display: flex;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);
    animation: loadxp 2s 500ms;
}

@keyframes loadxp {
    from {width: 0;}
    to {width: 50%;}
}

@keyframes loadxpnumber {
    from {left: 0;}
    to {left: 50%;}
}

span.currentExperience{
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    animation: loadxpnumber 2s 500ms ;
}